## US Birth Data Set

[Original article by FiveThirtyEight about Friday the 13th](http://fivethirtyeight.com/features/some-people-are-too-superstitious-to-have-a-baby-on-friday-the-13th/)

The data set contains U.S. births data for the years 1994 to 2003, as provided by the Centers for Disease Control and Prevention's National Center for Health Statistics

### Assignment

- Open the CSV and split based on new lines
- Preview the first 10 entries

In [11]:
import pandas as pd

with open("us_births.csv") as f:
    data = pd.read_csv(f)

data[:10]

   year  month  date_of_month  day_of_week  births
0  1994      1              1            6    8096
1  1994      1              2            7    7772
2  1994      1              3            1   10142
3  1994      1              4            2   11248
4  1994      1              5            3   11053
5  1994      1              6            4   11406
6  1994      1              7            5   11251
7  1994      1              8            6    8653
8  1994      1              9            7    7910
9  1994      1             10            1   10498

### Assignment

- Create a function that takes in a CSV and converts the data into a list of lists
    - Each row will be a list
    - Make sure to convert the values to int
    - Return the final list of lists
- Preview the first 10 entries of the output

In [49]:
import csv

def csv2list(file):
    list_of_lists = []
    with open(file) as f:
        csv_data = csv.reader(f)
        for row in csv_data:
            for i in range(len(row)):
                if row[i].isdigit():
                    row[i] = int(row[i])
            list_of_lists.append(row)   
    
    return list_of_lists

lol = csv2list("us_births.csv")
lol[:10]

[['year', 'month', 'date_of_month', 'day_of_week', 'births'],
 [1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910]]

### Assignment

- Create a function that calculates the number of births each month
    - The function input should be the previous list of lists you created
    - Use a dictionary and increment the values associated with each month key
    - Return the final dictionary
- Preview the output

In [61]:
def births_per_month(lst):
    dic = {}
    for each in lst:
        if each[1] in dic:
            dic[each[1]] += each[4]
        else:
            dic[each[1]] = 0
    del dic['month']
    return dic
        
births_per_month(lol)

{1: 3224421,
 2: 3006385,
 3: 3309942,
 4: 3174684,
 5: 3342762,
 6: 3284181,
 7: 3486329,
 8: 3514430,
 9: 3427515,
 10: 3369463,
 11: 3159331,
 12: 3290179}

### Assignment

- Create a function that calculates the number of births each day of the week

In [62]:
def births_per_dow(lst):
    dic = {}
    for each in lst:
        if each[3] in dic:
            dic[each[3]] += each[4]
        else:
            dic[each[3]] = 0
    del dic['day_of_week']
    return dic

births_per_dow(lol)

{1: 5779024,
 2: 6434948,
 3: 6311802,
 4: 6277023,
 5: 6222406,
 6: 4554015,
 7: 4071951}

### Assignment

- Create a general function that takes the data list of lists and a column index, it should return a dictionary mapping of the unique keys and summed values

In [88]:
def births_by_column(lst, col):
    dic = {}
    if col in range(0,4):
        for each in lst:
            if each[col] in dic:
                dic[each[col]] += each[4]
            else:
                dic[each[col]] = 0
    else:
        print('Invalid column number')
    
    return dic

births_by_column(lol, 0)

{'year': 0,
 1994: 3944671,
 1995: 3891761,
 1996: 3883811,
 1997: 3872545,
 1998: 3933340,
 1999: 3951254,
 2000: 4049971,
 2001: 4018496,
 2002: 4013936,
 2003: 4082167}

In [72]:
births_by_column(lol, 4)

Invalid column number

{}

In [87]:
day_totals = births_by_column(lol, 3)
print ('Sort by totals:')
for key, value in sorted(day_totals.items(), key=lambda item: (item[1], item[0]), reverse= True):
    print ("%s: %s" % (key, value))

Sort by totals:
2: 6434948
3: 6311802
4: 6277023
5: 6222406
1: 5779024
6: 4554015
7: 4071951
day_of_week: 0